* {
	text-align: center !important;
}
body {
	margin: 20px;
}
.die-img {
	width: 32px;
}
input:disabled {
	cursor: text !important;
}
select:disabled {
	cursor: default !important;
}
textarea {
	resize: none;
}
hr {
	border-width: 2px;
}
#rollButton {
	background-color: #339;
	color: #fff;
	border: 1px solid #006;
	transition: all 1s ease-in-out;
}
#rollButton:hover, #rollButton:active, #rollButton:focus, .dice-input-addon, #moreButton {
	background-color: #66c !important;
	color: #fff !important;
	border: 1px solid #339 !important;
}
#titleImg:hover {
	-webkit-animation:spin 1.5s ease-in-out 1;
    -moz-animation:spin 1.5s ease-in-out 1;
    animation:spin 1.5s ease-in-out 1;
}
#rollButton i, #resetButton i {
	transition: all .2s ease-in-out;
}
#rollButton:hover i, #resetButton:hover i {
	transform: rotate(180deg);
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#consoleDiv {
	margin: 10px;
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
::-moz-selection {
  background: #ccc;
}
::selection {
  background: #ccc;
}
#downloadHistoryLink, #downloadNotesLink, #downloadModsLink {
	display: none !important;
	text-decoration: none !important;
}

/*sharethis*/
.st-btn {
  background-color: #333 !important;
}