* {
	text-align: center !important;
}
body {
	margin: 20px;
}
	
h1,h2,h3,h4,h5,h6,p, label, input, .btn, .btn.active, select, option {
	color: #333;
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
::-moz-selection {
  background: #b3b3e6;
}
::selection {
  background: #b3b3e6;
}

.btn-primary {
	background-color: #339;
	color: #fff;
	border: 1px solid #19194d;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #66c !important;
	color: #fff !important;
	border: 1px solid #339 !important;
}
.btn-info {
	background-color: #369;
	color: #fff;
	border: 1px solid #19334d;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
	background-color: #69c !important;
	color: #fff !important;
	border: 1px solid #369 !important;
}

#titleImg:hover {
	-webkit-animation:spin 1.5s ease-in-out 1;
    -moz-animation:spin 1.5s ease-in-out 1;
    animation:spin 1.5s ease-in-out 1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*sharethis*/
.st-btn {
  background-color: #999 !important;
}

.hidden{
	display: none !important;
	text-decoration: none !important;
	width: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}