* {
	text-align: center !important;
}
body {
	margin: 20px;
	margin-top: 0px;
	background-color: #fff;
	background-size: 40px 40px;
	background-image: linear-gradient(to right, rgba(204,204,204,0.25) 1px, transparent 1px), linear-gradient(to bottom, rgba(204,204,204,0.25) 1px, transparent 1px);
}
hr {
	opacity: 0;
}
	
h1,h2,h3,h4,h5,h6,p, label, input, .btn, .btn.active, select, option {
	color: #333;
}

img, br {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
::-moz-selection {
	background: #b3b3e6;
	color: #fff;
}
::selection {
	background: #b3b3e6;
	color: #fff;
}

.btn-primary, .bg-primary {
	background-color: #339 !important;
	color: #fff;
	border: 2px solid #19194d;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .bg-primary:hover {
	background-color: #66c !important;
	color: #fff !important;
	border: 2px solid #339 !important;
}
.btn-info {
	background-color: #369;
	color: #fff;
	border: 1px solid #19334d;
}
.btn-info:hover, .btn-info:active, .btn-info:focus, .alert-info {
	background-color: #69c !important;
	color: #fff !important;
	border: 1px solid #369 !important;
}

.btn-danger, .btn-warning, .btn-success, .alert .close  {
	color: #fff;
}

#titleImg:hover {
	-webkit-animation:spin 1.5s ease-in-out 1;
	-moz-animation:spin 1.5s ease-in-out 1;
	animation:spin 1.5s ease-in-out 1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*sharethis*/
.st-btn {
	background-color: #666 !important;
}

.hidden{
	display: none !important;
	text-decoration: none !important;
	width: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}

.btn:not(.no-animate) i {
	transition: all .2s ease-in-out;
}
.btn:not(.no-animate):hover i {
	transform: scale(1.2);
}
.btn:not(.no-animate):hover i.fa-dice, .btn:not(.no-animate):hover i.fa-sync-alt {
	transform: rotate(180deg);
}
.btn:not(.no-animate):hover i.fa-cog  {
	transform: rotate(60deg);
}
.btn:not(.no-animate):hover i.fa-pencil-alt {
	transform: rotate(-90deg);
}
.btn:not(.no-animate):hover i.fa-eraser, .btn:not(.no-animate):hover i.fa-moon, .btn:not(.no-animate):hover i.fa-copy {
	transform: scale(-1,1);
}
.btn:not(.no-animate):hover i.fa-download, .btn:not(.no-animate):hover i.fa-donate {
	transform: translateY(2px);
}
.btn:not(.no-animate):hover i.fa-upload {
	transform: translateY(-2px);
}

/*sticky header*/
.sticky-top {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	margin-top: 20px;
	top: 20px;
	z-index: 101; /* typeahead (.tt-menu) is 100 */
	background-color: rgba(255,255,255,.8);
	padding-bottom: 10px;
	padding-top: 5px;
}

#menuButton {
	padding-left: 5px;
	margin-bottom: -50px;
	text-align: left !important;
	align-content: left !important;
	cursor: pointer;
	font-size: 150%;
}
#menuButton:hover {
	color: #999;
}

input:disabled {
	cursor: text !important;
}
select:disabled {
	cursor: default !important;
}

textarea {
	resize: vertical;
}

.text-red {
	color: #933;
}
.text-green {
	color: #393;
}
.text-blue {
	color: #339;
}

