.die-img {
	width: 32px;
}
input:disabled {
	cursor: text !important;
}
select:disabled {
	cursor: default !important;
}
textarea {
	resize: none;
}
hr {
	border-width: 2px;
}




#rollButton i, #resetButton i {
	transition: all .2s ease-in-out;
}
#rollButton:hover i, #resetButton:hover i {
	transform: rotate(180deg);
}




#consoleDiv {
	margin: 10px;
}

#downloadHistoryLink, #downloadNotesLink, #downloadModsLink, #fileInput {
	display: none !important;
	text-decoration: none !important;
}

/*sharethis*/
.st-btn {
  background-color: #333 !important;
}