#sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.8);
    overflow-x: hidden;
    padding-top: 75px;
    transition: 0.4s ease-in-out;
    border-right: 1px solid #ccc;
}

#sideNav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
#sideNav .closebtn {
    color: #333;
}
#sideNav .closebtn:hover {
    color: #933;
}

#sideNav a:not(.closebtn) {
    margin: 20px;
    color: #fff;
}

.fa-bars {
    color: #339;
}

/*.fa-bars:hover {
    background-color: #339;
    color: #fff;
}*/

a.nav-red {
    background-color: #c66;
}
a.nav-green {
    background-color: #6c6;
}
a.nav-blue {
    background-color: #66c;
}

a.nav-red:hover {
    background-color: #933;
}
a.nav-green:hover {
    background-color: #393;
}
a.nav-blue:hover {
    background-color: #339;
}

/*#sideNav a:not(.closebtn):hover {
    background-color: #66c;
}*/

#sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
/*    #sideNav {padding-top: 15px;}
    #sideNav a {font-size: 18px;}*/
}