::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc !important;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc !important;
}

#results {
  text-align: left !important;
}

/*typeahead*/
.tt-menu {
	margin-left: 0px;
	margin-top: 50px;

}
.tt-suggestion {
	background-color: #339;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}
.tt-highlight {
	padding-top: 2px;
	padding-bottom: 2px;
}
.tt-suggestion:hover, .tt-highlight, .tt-cursor {
	background-color: #66c !important;
}
.twitter-typeahead { 
	/*seriously? fuck twitter. why to you have to force your styles upon my searchbar.
	you're a js library not a css library*/
	display: block !important;
}